<div class="container">
    <h2>商品一覧</h2>
    <div class="d-flex flex-row-reverse">
        <%= link_to "+", new_admin_item_path, class: "btn pmd-btn-fab pmd-ripple-effect btn-primary "%>
    </div>
    <table class="admin-items-table">
        <thead>
            <tr class="table-active">
                <th class="admin-items-th">商品ID</th>
                <th class="admin-items-th">商品名</th>
                <th class="admin-items-th">税抜き価格</th>
                <th class="admin-items-th">ジャンル</th>
                <th class="admin-items-th">ステータス</th>
            </tr>
        </thead>
        <tbody>
            <% @items.each do |item| %>
                <tr>
                    <td class="admin-items-td"><%= item.id %></td>
                    <td class="admin-items-td"><%= item.name %></td>
                    <td class="admin-items-td"><%= item.untaxed_price %> </td>
                    <td class="admin-items-td"><%= @genres.find(item.genre_id).name %></td>
                    <td class="admin-items-td">
                        <% if item.is_in_stock %>
                        販売中
                        <%else%>
                        販売停止中
                        <%end%>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>
